<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/create.css">
        
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <script defer src="/scripts/menuCrear.js"></script>
</head>

<body>
    <%- include ('../includes/header.ejs') %>
        <main>
            <div class="fondo">
                <div class="nombres">

                    <h2> categorias</h2>
                    <select id="categoria" name="categoria" class="opciones" onchange="populate()">
                        <option value="">Elija una opcion</option>
                        <option value="banio">banio</option>
                        <option value="cocina">cocina</option>
                        <option value="tanques">tanques</option>
                        <option value="calefaccion">calefaccion</option>
                        <option value="instalaciones">instalaciones</option>
                    </select>
                    <hr />
                    <h2>Sub-categorias</h2>
                    <select id="subCategoria" name="subCategoria" class="opciones"></select>
                    <hr />
                </div>
                <div id="boton">
                    <button type="reset" class="Cancelar">Cancelar</button>
                    <a href="/create/product"><button type="submit" class="botonform">siguiente</button></a>
                </div>
            </div>
        </main>
        <%- include ('../includes/footer.ejs') %>
</body>