<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/productDetail.css">
        <link rel="stylesheet" href="/css/mediaQ-newproduct.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/productofinal.css">
</head>

<body>
    <%- include ('../includes/header.ejs') %>

    <main>
        <section class="back">
            <form action=""> 
             <div class="formulario">
            <label for="nombre-apellido">Nombres del producto</label>
            <input class="relleno" type="text" name="nombre-prodcito"  min="1" />
            <label for="usuario">Código</label>
            <input class="relleno" type="text" name="usuario" id="usuario" min="1" />
            <label for="marca">marca</label>
            <input class="relleno" type="text" name="marca" id="marca" " min="1" />
            <label for="number">precio</label>
            <input class="relleno" required />
            
            <h2 id="info">Informacion</h2>
            
                <label class="infodenombres" for="nombre-apellido">Colores</label>
                <input class="relleno"  type="text" name="nombre-prodcito" min="1" required/>

                <label  class="infodenombres" for="nombre-apellido">Apto</label>
                <input class="relleno"  type="text" name="nombre-prodcito"  min="1" required/>

                <label for="nombre-apellido">cierre</label>
                <input class="relleno"  type="text" name="nombre-prodcito"  min="1"required />

           
            <h2 id="Detalle">Detalle</h2>
            <label class="infodenombres" for="nombre-apellido">Video</label>
            <input class="relleno"  type="text" name="nombre-prodcito" min="1" required />

            <label  class="infodenombres" for="nombre-apellido">grafico</label>
            <input class="relleno"  type="text" name="nombre-prodcito"  min="1" required/>

            <label for="nombre-apellido">Medidas</label>
            <input class="relleno"  type="text" name="nombre-prodcito"  min="1"required />
    
            <label for="nombre-apellido">descripcion</label>
      
          <input class="descripcion"  type="text" name="nombre-prodcito"  min="1" required/>
          <div id="boton">
            <button type="reset"class="Cancelar">Cancelar</button>
            <button type="submit" class="botonform">Enviar</button>
      </div>  
    </div>
        </section>


    </main>
    <%- include ('../includes/footer.ejs') %>
    <script src="../scripts/menu.js"></script>
</body>