<!DOCTYPE html>
<html lang="en">
    <head>
<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productSearch.css">
    <link rel="stylesheet" href="/css/mediaQ-productSearch.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
    <body>

        <%- include ('../includes/header.ejs') %>

            <!-- break  -->
            <main>
                <h2 id="desplegable" tabindex="9999"> - filtrar categorias - </h2>
                <nav id="buscador__navbarDesplegable">
                    <h2>Categorias</h2>
                    <ul>
                        <li class="buscador__categoria">
                            <h3>Baño</h3>
                            <ul>
                                <li class="buscador__tipo">Bidet</li>
                                <li class="buscador__tipo">Inodoro</li>
                                <li class="buscador__tipo">Griferia</li>
                                <li class="buscador__tipo">Piletas</li>
                                <li class="buscador__tipo">Ducha</li>
                            </ul>
                        </li>
                        <li class="buscador__categoria">
                            <h3>Cocina</h3>
                        </li>
                        <li class="buscador__categoria">
                            <h3>Tanques</h3>
                        </li>
                        <li class="buscador__categoria">
                            <h3>Calefaccion</h3>
                        </li>
                        <li class="buscador__categoria">
                            <h3>Instaladores</h3>
                        </li>
                    </ul>
                    <br>
                    <h2>Marcas</h2>
                    <ul>
                        <li class="buscador__categoria">
                            <h3>Roca</h3>
                        </li>
                        <li class="buscador__categoria">
                            <h3>FV</h3>
                        </li>
                        <li class="buscador__categoria">
                            <h3>Capea</h3>
                        </li>
                        <li class="buscador__categoria">
                            <h3>Rotoplast</h3>
                        </li>
                    </ul>
                </nav>
                <section id="main">
                    <nav id="buscador">
                        <h2>Categorias</h2>
                        <ul>
                            <li class="buscador__categoria">
                                <h3>Baño</h3>
                                <ul>
                                    <li class="buscador__tipo">Bidet</li>
                                    <li class="buscador__tipo">Inodoro</li>
                                    <li class="buscador__tipo">Griferia</li>
                                    <li class="buscador__tipo">Piletas</li>
                                    <li class="buscador__tipo">Ducha</li>
                                </ul>
                            </li>
                            <li class="buscador__categoria">
                                <h3>Cocina</h3>
                            </li>
                            <li class="buscador__categoria">
                                <h3>Tanques</h3>
                            </li>
                            <li class="buscador__categoria">
                                <h3>Calefaccion</h3>
                            </li>
                            <li class="buscador__categoria">
                                <h3>Instaladores</h3>
                            </li>
                        </ul>
                        <h2>Marcas</h2>
                        <ul>
                            <li class="buscador__categoria">
                                <h3>Roca</h3>
                            </li>
                            <li class="buscador__categoria">
                                <h3>FV</h3>
                            </li>
                            <li class="buscador__categoria">
                                <h3>Capea</h3>
                            </li>
                            <li class="buscador__categoria">
                                <h3>Rotoplast</h3>
                            </li>
                        </ul>
                    </nav>
                    <section class="articulos">
                        <div id="ruta">
                            <h6 class="texto">productos - baño - griferia -</h6>
                            <h6 class="ruta__texto ruta__texto--resaltado"> H3 Urbano</h6>
                        </div>
                        <section class="productos">
                            <article class="productos__elemento">
                                <h3>Bidet</h3>
                                <div class="productos__informacion">
                                    <picture class="imagen"><img src="/images/bidet1.png" alt=""></picture>
                                    <div class="productos__texto">
                                        <h4 class="descripcion">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        </h4>
                                        <h4 class="productos__modelos">
                                            >> Ver modelos
                                        </h4>
                                    </div>
                                </div>
                            </article>
                            <article class="productos__elemento">
                                <h3>Bidet</h3>
                                <div class="productos__informacion">
                                    <picture class="imagen"><img src="/images/bidet1.png" alt=""></picture>
                                    <div class="productos__texto">
                                        <h4 class="descripcion">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        </h4>
                                        <h4 class="productos__modelos">
                                            >> Ver modelos
                                        </h4>
                                    </div>
                                </div>
                            </article>
                            <article class="productos__elemento">
                                <h3>Bidet</h3>
                                <div class="productos__informacion">
                                    <picture class="imagen"><img src="/images/bidet1.png" alt=""></picture>
                                    <div class="productos__texto">
                                        <h4 class="descripcion">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        </h4>
                                        <h4 class="productos__modelos">
                                            >> Ver modelos
                                        </h4>
                                    </div>
                                </div>
                            </article>
                            <article class="productos__elemento">
                                <h3>Bidet</h3>
                                <div class="productos__informacion">
                                    <picture class="imagen"><img src="/images/bidet1.png" alt=""></picture>
                                    <div class="productos__texto">
                                        <h4 class="descripcion">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        </h4>
                                        <h4 class="productos__modelos">
                                            >> Ver modelos
                                        </h4>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </section>
                </section>
            </main>
            <!-- break -->
            <%- include ('../includes/footer.ejs') %>

                <script src="./scripts/menu.js"></script>
    </body>

</html>