<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanitarios Nicuesa</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="body__box">
    <header class="header__box">
         <nav class="nav__container">
            <div class="burger__container">
                <a class="burga" href="/"><i class="fas fa-bars"  href="/"></i></a>
            </div>
            <div class="logo">
                <h2>Sanitarios Nicuesa e Hijos</h2>
            </div>
                <div id="busqueda">
                    <form action="GET">
                        <input placeholder="Buscar productos, marcas y mas" type="text" name="user" id="name" data-error="Error">
                    </form>
                    <i class="fa-solid fa-magnifying-glass"> </i>
                </div>
            <div class="cart__container">
                 <a class="cart" href="/"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
         </nav>
    </header>
    <main class="main__box">
        <div class="main__container">

                <figure class="banner"><img src="/images/banner.png" alt="">
                </figure>
           
            <section class="productos">
                <a href="#" class="baño">
                    <h3>Baño</h3>
                    <img src="/images/inodoro.png" alt="baño">
                </a>
                <a href="#" class="cocina">
                    <h3>Cocina</h3>
                    <img src="/images/cocina.png" alt="foto cocina">
                </a>
                <a href="#" class="tanques">
                    <h3>Tanques</h3>
                    <img src="/images/termotanque.png" alt="foto tanques">
                </a>
                <a href="#" class="calefaccion">
                    <h3>Calefacción</h3>
                    <img src="/images/calefaccion.png" alt="foto calefaccion">
                </a>
                <a href="#" class="instalaciones">
                    <h3>Instalaciones</h3>
                    <img src="/images/instalaciones.png" alt="foto instalaciones">
                </a>
            </section>
            <section class="marcas">
                <h2>Nuestras Marcas</h3>
                <figure class="img__figure">
                    <img src="/images/mark.png" alt="">
                </figure>
            </section>
            <section class="isla">
                <h2>Envíos a las islas del tigre</h2>
                <figure class="img__isla">
                    <img src="/images/isla.png" alt="isla">
                </figure>
            </section>
            <section class="mapa">
                  <figure class="img__map">
                    <img src="/images/map.png" alt="map">
                  </figure>
                  <div class="contacto">
                    <h4>Contacto</h4>
                    <h5>Av. Italia 1562, Tigre, 
                        Provincia de Buenos Aires, Argentina</h5>
                    <h5>Tel: +54 11 56478371 </h5>
                  </div>
                  <div class="experiencia">
                    <h4>Experiencia</h4>
                    <h5>Más de 30 años de experiencia en el rubro respaldan nuestras operaciones</h5>
                  </div>
            </section>
        </div>
    </main>
    <footer class="footer__box">
        <nav class="footer__container">
             <div class="info">
                <h5>Información general</h4>
                <a href="#" class="cancel"> <h6> Cancelar una compra</h6></a>
                <a href="#" class="preguntas__frecuentes"><h6>Preguntas frecuentes</h6></a>
                <a href="#" class="politica"><h6>Política de privacidad</h6></a>
             </div>
             <div class="garantia">
                <h5>Garantía</h5>
                <h6>Conoce mas sobre nuestras politicas de garantía</h6>
             </div>
             <div class="seguinos">
                <h5>Seguinos</h5>
                <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="mail"><i class="fa-solid fa-envelope"></i></a>
             </div>
             <div class="copyright">
                <h6>Copyright @ 2022 realizado por estudio DH</h6>
             </div>
        </nav>
    </footer>
</body>

</html>