<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanitarios Nicuesa - Productos</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>

    </header>
    <!-- break  -->
    <main>
        <p class="ruta">
        <h6>productos - baño - griferia -</h6>
        <h6 class="ruta-resaltada"> H3 Urbano</h6>
        </p>
        <section class="producto">
            <div class="imagen">
                <img src="/images/griferia1.jpg" alt="">
            </div>
            <article class="informacion">
                <h2 class="titulo">
                    0207 / H3 Urbano - Juego para lavatorio
                </h2>
                <h5 class="tabla">
                    <div class="tabla_items">
                        <ul>
                            <li>Apto</li>
                            <li>Color</li>
                            <li>Diseño</li>
                            <li>Línea</li>
                            <li>Presentación</li>
                            <li>Tecnología</li>
                            <li>Tipo</li>
                            <li>Estilos</li>
                        </ul>
                    </div>
                    <div class="tabla_info">
                        <ul>
                            <li>Apto termotanque y calefón</li>
                            <li>Cromo, Rose gold</li>
                            <li>Volante Cruz</li>
                            <li>H3 Urbano</li>
                            <li>Cierre suave</li>
                            <li>Cierre cerámico</li>
                            <li>Tradicional</li>
                            <li>Industrial, minimalista, moderno</li>
                        </ul>
                </h5>
                <div class="compra">
                    <div>
                        <h5>Valor Final:</h5>
                        <h3>$23.900</h3>
                    </div>
                    <h4 class="agregarCarrito">+ Carrito</h4>
                </div>
                </div>
            </article>
        </section>
        <section class="detalles_producto">
            <h3>Detalles del producto</h3>
            <article class="navegacion">
                <ul>
                    <li>Descripcion</li>
                    <li class="elegido">Esquema</li>
                    <li>Despiece</li>
                    <li>Documentación</li>
                    <li>Video</li>
                </ul>
            </article>
            <article class="informacion_adicional">
                <div class="imagen">
                    <img src="/images/griferia_esquema.png" alt="">
                </div>
            </article>
        </section>
    </main>
    <!-- break -->
    <footer>

    </footer>
</body>

</html>