/*-------------FOOT CONT-------------*/

footer {
    z-index: 100;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--color-footerNav);
    padding: .5em;
    *gap: 4em;
    *position: relative;
    padding-left: 1em;
}

.footer__container h5 {
    color: snow;
    text-decoration: underline snow;
}

/*-------------INFO-------------*/
.info {
    display: block;
    min-width: 115px;
    text-align: start;
    margin-right: 1em;
}

.info h6:hover {
    color: rgb(104, 161, 210);
}


.info h5 {
    margin: .5em 0;
    align-items: center;
}

.info h6 {
    color: snow;
    text-align: start;
}

/*-------------GARANTIA-------------*/
.garantia {
    min-width: 115px;
}

.garantia h5 {
    margin: .5em 0;
    align-items: center;
}

.garantia h6 {
    color: snow;
    max-width: 100px;
}

/*-------------SEGUINOS-------------*/

.seguinos h5 {
    margin: .5em 0;
    align-items: center;
}

.seguinos a:hover {
    color:  rgb(100, 138, 170);
}


.seguinos a {

    color: snow;
}

/*-------------COPYRIGHT-------------*/

.copyright {
    color: snow;
    /* *display: flex;
    *align-self: flex-end;
    *position: absolute;
    *bottom: .75em;
    *right: 1em; */
    width: 100%;
    text-align: end;
    margin-top: .5em;
}

.copyright h6 {
    font-size: .5em;
}