.main {
    display: flex;
    height: auto;
}

.buscador {
    background-color: #ededed;
    padding: 0 1em;
    position: sticky;
    *width: 175px;
    height: 100vh;
}

li {
    list-style: none;
}

.categoria {
    font-weight: bold;
    font-size: .8em;
    margin: 10px 0;
}

.tipo {
    font-weight: normal;
    margin-left: 2em;
    background-color: none;
    margin-top: 5px;
}

li.categoria h3 {
    border-radius: 5px;
    padding-left: 1em;
    background-color: #A5A1A7;
}

li.categoria h3:hover {
    background-color: #3A687E;
}


.grupo {
    margin-top: 1em;
}

/* fonts  */
main h2 {
    font-size: 1.5em;

}

main h3 {
    display: inline-block;
    width: 100%;
}

main h4 {
    font-weight: normal;
}

main h6 {
    display: inline-block;
    font-weight: normal;
}

/*  */

p.ruta {
    margin-left: 3em;
}

.ruta-resaltada {
    font-weight: bold;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1em;
    /* margin: 0 1em; */
}


.articulos {
    padding: 0 2em;
    margin-top: -1.5em;
}

.articulo {
    /* max-width: 45%;
    min-width: 280px;
    min-height: 40%; */
    background-color: #EDEDED;
    padding: 1em;
    border-radius: 1em;
    /* margin: 1em 0; */
}


.informacion {
    display: flex;
    width: 100%;
}

.imagen {
    height: 150px;
    display: flex;
}

img {
    height: 75%;
    margin: auto;
    display: inline-block;
    align-self: center;
}

.texto {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    align-items: space-between;
}


.modelos {
    align-self: flex-end;
    background-color: #A5A1A7;
    padding: 5px;
    border-radius: 10px;
}