.panel {
    background-color: red;
    width: 100%;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
}

.categories {

}

.pageBody {
    display: flex;
}