.panel {
    background-color: #e6e6e6;
    width: 100%;
    margin: 2em;
    padding: 2em;
    border-radius: 2em;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    max-height: 100%;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

h1{
    width: 100%;
    color: var(--color-font);  
}

h5 {
    color: black;
    font-weight: 200;
    font-size: 1em;

}

.pageBody {
    height: 100vh;
    background-color: white;
}

.products::-webkit-scrollbar {
    background-color: darkgrey;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    width: 10px;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto; */
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    overflow: auto;
    min-width: 150px;
    
    padding: .5em;
    width: 100%;
    max-height: 70%;
    border-bottom: 1px solid rgb(154, 154, 154);
}

.articuloProducto {
    text-align: center;
}

.articuloProducto img {
    height: 95%;
    max-width: 100%;
    margin: auto;
    display: inline-block;
    border-radius: 1.5em;
    align-self: center;

}

.articuloProducto figure {
    border: var(--color-grey) solid 0.1em;
    border-radius: 1.5em;
    height: 150px;
    display: flex;
    max-width: 150px;
    background-color: white;
    margin: 1em auto;
}

.pageBody {
    display: flex;
}

/* categories */

.categories {
    align-self: flex-end;
    *height: 150px;
    width: 100%;
    text-align: left;
    flex-grow: 5;
}

.data .categorias {
    width: 50%;
}

.titulo {
    align-self: flex-start;
    *text-align: left;
    margin-top: .5em;
    *text-decoration: underline;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    *box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
   
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3A687E;
    border-radius: 20px;
    
  
  }

  .dataPanel {
    overflow: auto;

  }