.panel{ background-color: white;
    display: flex;
    width: 100%;
}

.contenedor{
    background-color: #e6e6e6;
    width: 50%;
    margin: 2em;
    padding: 2em;
    border-radius: 2em;
    flex-wrap: wrap;
    max-height: 100%;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

.img {
    margin: auto;
    width: 200px;
}
#imagen {
    width : 
    100%
}
.contenedorDeDatos{
    margin: 2em;
    padding: 2em;
}
.container {
    display: flex;
}

.contenedorTop{
    display: flex;
}



