.loginPage {
    /* background-color:#3A687E; */
    background: rgb(58, 104, 126);
    background: linear-gradient(180deg, rgb(0, 28, 41) 0%, rgba(58, 104, 126, 1) 74%, rgba(0, 169, 157, 1) 100%);
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
}

.loginPage .logo {
    width: 100%;
    margin: 0;
    border-radius: 1.5em;
}

.loginPage form {
    color: white;
}

.loginPage figure {
    margin: auto;
    width: 100px;
}


.form label {
    font-size: 1.5em;
    font-weight: 200;
}

.form input {
    border-radius: 1em;
    padding: .5em;
    margin: .5em;
}

.form {
    margin: 2em 0;
    scale: 1.2;
}

.form button {
    border-radius: 1em;
    margin: .5em;
    margin-top: 2em;
    padding: .5em 1em;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #00A99D;
    color: white;
    font-weight: bolder;
}