:root {
    --color-footerNav: #3A687E;
    --color-font: rgb(22, 20, 20);
    --color-hover: #24d6ed;
    --color-white: rgb(220, 230, 227);
    --color-grey: rgb(190, 185, 185);
    --font-family: 'Sarabun', sans-serif;
}

* {
    font-family: var(--font-family);
    text-align: center;
}


.leftSide__container h1 {
    text-decoration: underline;
    color: #3A687E;
}
.leftSide__container h3 {
    
   
    color: #3A687E;
}


.bloque {
    background-color: #e6e6e6;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    width: 100%;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 2rem;
    justify-content: space-between;
    gap: 1rem;
}

.users__container {
    /* background-color: var(--color-white); */
    display: flex;
    width: 100%;
    height: auto;
    ;
}

.leftSide {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    width: 50%;
}

.leftSide__container img {
    width: 200px;
    border-radius: 20%;
}

.leftSide__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.rightSide img {
    width: 50px;
}
.rightSide img:hover{
    transition-delay: 0.05s;
    box-shadow: -1px 2px 18px -4px rgba(162,145,217,0.75);
    -webkit-box-shadow: -1px 2px 18px -4px rgba(162,145,217,0.75);
    -moz-box-shadow: -1px 2px 18px -4px rgba(162,145,217,0.75);
    border-radius: 2em;

}

.rightSide {
    width: 50%;
}

.adminContainer {
    padding: 1rem;
    overflow: scroll;
    overflow-x: hidden;
    height: 50%;
    align-items: stretch;
    margin: 0 auto;
}

.adminContainer img {
    border-radius: 50%;
}


.adminContainer div {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(70px, 1fr) );
  gap: 1rem;
    justify-items: center;
}

.rightSide .adminContainer {
    width: 100%;
}