.categoriaImagen {
    width: 100px;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    min-width: 50%;
}

.cadaCategoria {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--color-grey) solid 0.1em;
    border-radius: 1.5em;
    height: 100px;
    width: 150px;
    background-color: white;
    margin: .5em auto;
    flex-wrap: wrap;
}



.cadaCategoria img {
    height: 95%;
    max-width: 100%;
    margin: auto;
    display: inline-block;
    border-radius: 1.5em;
    align-self: center;
}

.cadaCategoria figure {
    border-radius: 1.5em;
    height: 90%;
    display: flex;
    width: 100px;
    background-color: white;
    margin-bottom: 0.5rem;
    /* margin: 1em auto; */
}