.ultimoRegistro {
    /* width: 100px; */
    margin: 0 auto;
    justify-content: center;
}

.ultimoRegistro figure {
    width: 100px;
    margin: auto;
}

.ultimoRegistro img {
    width: 100%;
    border-radius: 10%;
    
}

.ultimo {
    /* margin: 1em; */
}