<header>
       
    <nav id="navbar">
       
        <figure class="navbar__toggle" id="mobile-menu">
            <span id="bar"></span>
            <span id="bar"></span>
            <span id="bar"></span>
        </figure>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links">Home</a>
            </li>
            <li class="navbar__item">
                <a href="/productos" class="navbar__links"> Servicios </a>
            </li>
            <li class="navbar__item">
                <a href="/buscador" class="navbar__links">Buscador </a>
            </li>
            <li class="navbar__item">
                <a href="/carrito" class="navbar__links">Carro</a>
            </li>
            <li class="navbar__item">
                <a href="/register" class="navbar__links">Registro</a>
            </li>
            <li class="navbar__item">
                <a href="/login" class="navbar__links">Login</a>
            </li>
        </ul>
    </nav>
    <section>
        <a href="/">
            <h2>Sanitarios Nicuesa e Hijos</h2>
        </a>
    </section>
    <form id="busqueda" action="GET">
        <input placeholder="Buscar productos, marcas y mas" type="text" name="user" id="name">
        <i class="fa-solid fa-magnifying-glass"> </i>
    </form>
    <figure id="cart">
        <a class="cart__container" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </figure>

</header>