<header>
       
    <nav id="navbar">
       
        <figure class="navbar__toggle" id="mobile-menu">
            <span id="bar"></span>
            <span id="bar"></span>
            <span id="bar"></span>
        </figure>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links">Home</a>
            </li>
            <li class="navbar__item">
                <a href="/products" class="navbar__links"> Productos </a>
            </li>
            
            <li class="navbar__item">
                <a href="/carrito" class="navbar__links">Carro</a>
            </li>
            <li class="navbar__item">
                <a href="/register" class="navbar__links">Registro</a>
            </li>
            <li class="navbar__item">
                <a href="/login" class="navbar__links">Login</a>
            </li>
        </ul>
    </nav>
    <section>
        <a href="/" class="logo">
            <img src="/images/logo-sanitario.svg" alt="imagen">
        </a>
    </section>
    <form action="" class="search-bar">
        <input type="text" name="search" placeholder="search">
        <button type="submit"><img src="images/search.png" alt=""></button>
    </form>
    <figure id="cart">
        <a class="cart__container" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </figure>
    <figure id="carga">
        <a class="carga " href="/products/create"><i class="fa-solid fa-tag "></i> </a>
        </figure>
</header>