<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title>Sanitarios Nicuesa</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav id="navbar">
           
            <figure class="navbar__toggle" id="mobile-menu">
                <span id="bar"></span>
                <span id="bar"></span>
                <span id="bar"></span>
            </figure>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="/productos" class="navbar__links"> Servicios </a>
                </li>
                <li class="navbar__item">
                    <a href="/buscador" class="navbar__links">Buscador </a>
                </li>
                <li class="navbar__item">
                    <a href="/carrito" class="navbar__links">Carro</a>
                </li>
                <li class="navbar__item">
                    <a href="/register" class="navbar__links">Registro</a>
                </li>
                <li class="navbar__item">
                    <a href="/login" class="navbar__links">Login</a>
                </li>
            </ul>
        </nav>
        <section>
            <a href="/">
                <h2>Sanitarios Nicuesa e Hijos</h2>
            </a>
        </section>
        <form id="busqueda" action="GET">
            <input placeholder="Buscar productos, marcas y mas" type="text" name="user" id="name">
            <i class="fa-solid fa-magnifying-glass"> </i>
        </form>
        <figure id="cart">
            <a class="cart__container" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        </figure>

    </header>
    <!-- break  -->
    <main id="main">
        <figure id="banner"><img src="/images/banner.png" alt="">
        </figure>
        <section class="productos">
            <a href="/buscador" class="baño">
                <h3>Baño</h3>
                <img src="/images/inodoro.png" alt="baño">
            </a>
            <a href="/buscador" class="cocina">
                <h3>Cocina</h3>
                <img src="/images/cocina.png" alt="foto cocina">
            </a>
            <a href="/buscador" class="tanques">
                <h3>Tanques</h3>
                <img src="/images/termotanque.png" alt="foto tanques">
            </a>
            <a href="/buscador" class="calefaccion">
                <h3>Calefacción</h3>
                <img src="/images/calefaccion.png" alt="foto calefaccion">
            </a>
            <a href="/buscador" class="instalaciones">
                <h3>Instalaciones</h3>
                <img src="/images/instalaciones.png" alt="foto instalaciones">
            </a>
        </section>
        <section class="marcas">
            <h2>Nuestras Marcas</h3>
                <ul>
                    <li><a href="/buscador"><img src="./images/marca-padilak.png" alt=""></a></li>
                    <li><a href="/buscador"><img src="./images/marca-rotoplast.png" alt=""></a></li>
                    <li><a href="/buscador"><img src="./images/marca-roca.png" alt=""></a></li>
                    <li><a href="/buscador"><img src="./images/marca-waterplast.png" alt=""></a></li>
                    <li><a href="/buscador"><img src="./images/marca-rowa.png" alt=""></a></li>
                    <li><a href="/buscador"><img src="./images/marca-volcan.png" alt=""></a></li>
                    <li><a href="/buscador"><img src="./images/marca-pluvius.png" alt=""></a></li>
                </ul>
        </section>
        <section class="isla">
            <h2>Envíos a las islas del tigre</h2>
            <figure class="img__isla">
                <img src="/images/isla.png" alt="isla">
            </figure>
        </section>
        <section id="mapa">
            <figure class="img__map">
                <a href="https://www.google.com.ar/maps/place/Sanitarios+Nicuesa+%26+Hijos/@-34.4228489,-58.580677,17z/data=!3m1!4b1!4m5!3m4!1s0x95bca5bd0574b9cf:0x4085b5611c524623!8m2!3d-34.4228533!4d-58.5784883"
                    target="_blank">
                    <img src="/images/map.png" alt="map">
                </a>
            </figure>
            <text id="contacto">
                <h4>Contacto</h4>
                <h5>Av. Italia 1562, Tigre,
                    Provincia de Buenos Aires, Argentina</h5>
                <h5>Tel: +54 11 56478371 </h5>
            </text>
            <text id="experiencia">
                <h4>Experiencia</h4>
                <h5>Más de 30 años de experiencia en el rubro respaldan nuestras operaciones</h5>
            </text>
        </section>

    </main>
    <footer id="footer">
        <article class="info">
            <h5>Información general</h5>
            <a href="#" class="info__cancel">
                <h6> Cancelar una compra</h6>
            </a>
            <a href="#" class="info__frecuentes">
                <h6>Preguntas frecuentes</h6>
            </a>
            <a href="#" class="info__politica">
                <h6>Política de privacidad</h6>
            </a>
        </article>
        <article id="garantia">
            <h5>Garantía</h5>
            <h6>Conoce mas sobre nuestras politicas de garantía</h6>
        </article>
        <article id="seguinos">
            <h5>Seguinos</h5>
            <a href="https://www.facebook.com/SANITARIOSNICUESA" target="_blank" class="facebook"><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://api.whatsapp.com/send?phone=5491163987256&text=" target="_blank" class="whatsapp"><i
                    class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/sanitariosnicuesa/" target="_blank" class="instagram"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="contacto@sanitariosnicuesa.com.ar" target="_blank" class="mail"><i
                    class="fa-solid fa-envelope"></i></a>
        </article>
        <text id="copyright">
            <h6>Copyright @ 2022 realizado por estudio DH</h6>
        </text>
        </nav>
    </footer>
    <script src="./scripts/menu.js"></script>
</body>

</html>