<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanitarios Nicuesa - Carrito</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/mediaQ-productCart.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header__box">
        <div class="a">
            <nav class="navbar">
                <div class="navbar__container">
                    <a href="/" id="navbar__logo"></i></a>
                    <div class="navbar__toggle" id="mobile-menu">
                        <span class="bar"></span><span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <ul class="navbar__menu">
                        <li class="navbar__item">
                            <a href="/" class="navbar__links">Home</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/productos" class="navbar__links"> Productos </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/buscador" class="navbar__links"> Buscador </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/carrito" class="navbar__links">Carro</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/register" class="navbar__links">Registro</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/login" class="navbar__links">Login</a>
                        </li>

                    </ul>
                </div>
            </nav>
            <a href="/">
                <h2>Sanitarios Nicuesa e Hijos</h2>
            </a>
        </div>
        <div class="b">
            <div id="busqueda">
                <form action="GET">
                    <input placeholder="Buscar productos, marcas y mas" type="text" name="user" id="name"
                        data-error="Error">
                </form>
                <i class="fa-solid fa-magnifying-glass"> </i>
            </div>
            <div class="cart__container">
                <a class="cart" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </header>
    <!-- break  -->
    <main>
        <div id="ruta">
            <h6 class="texto">productos - baño - griferia -</h6>
            <h6 class="ruta__texto ruta__texto--resaltado"> H3 Urbano</h6>
        </div>
        <section id="pagina">
            <h2 id="pagina__titulo">Carrito de Compras</h2>
            <section id="productos">
                <article class="productos__articulo">
                    <h3 id="articulo__titulo">Bidet 1</h3>
                    <div class="articulo__contenedor">
                        <figure class="articulo__imagen"><img src="/images/bidet1.png" alt=""></figure>
                        <div class="articulo__informacion">
                            <h3>$21.599</h3>
                            <h5>Cantidad:</h5>
                            <div class="articulo__cantidad">
                                <button class="articulo__cantidadBoton">
                                    <a class="articulo__cantidadTexto">-</a>
                                </button>
                                <a class="articulo__cantidadTexto">2</a>
                                <button class="articulo__cantidadBoton">
                                    <a class="articulo__cantidadTexto">+</a>
                                </button>
                            </div>
                            <h5>Total:</h5>
                            <h3 class="--bold">$43.198</h3>
                        </div>
                    </div>
                    <button class="quitar"><i class="fa-solid fa-trash"></i></button>
                </article>
                <article class="productos__articulo">
                    <h3 id="articulo__titulo">Bidet 1</h3>
                    <div class="articulo__contenedor">
                        <figure class="articulo__imagen"><img src="/images/bidet1.png" alt=""></figure>
                        <div class="articulo__informacion">
                            <h3>$21.599</h3>
                            <h5>Cantidad:</h5>
                            <div class="articulo__cantidad">
                                <button class="articulo__cantidadBoton">
                                    <a class="articulo__cantidadTexto">-</a>
                                </button>
                                <a class="articulo__cantidadTexto">2</a>
                                <button class="articulo__cantidadBoton">
                                    <a class="articulo__cantidadTexto">+</a>
                                </button>
                            </div>
                            <h5>Total:</h5>
                            <h3 class="--bold">$43.198</h3>
                        </div>
                    </div>
                    <button class="quitar"><i class="fa-solid fa-trash"></i></button>
                </article>
                <article class="productos__articulo">
                    <h3 id="articulo__titulo">Bidet 1</h3>
                    <div class="articulo__contenedor">
                        <figure class="articulo__imagen"><img src="/images/bidet1.png" alt=""></figure>
                        <div class="articulo__informacion">
                            <h3>$21.599</h3>
                            <h5>Cantidad:</h5>
                            <div class="articulo__cantidad">
                                <button class="articulo__cantidadBoton">
                                    <a class="articulo__cantidadTexto">-</a>
                                </button>
                                <a class="articulo__cantidadTexto">2</a>
                                <button class="articulo__cantidadBoton">
                                    <a class="articulo__cantidadTexto">+</a>
                                </button>
                            </div>
                            <h5>Total:</h5>
                            <h3 class="--bold">$43.198</h3>
                        </div>
                    </div>
                    <button class="quitar"><i class="fa-solid fa-trash"></i></button>
                </article>
                <article class="productos__articulo">
                    <h3 id="articulo__titulo">Bidet 1</h3>
                    <div class="articulo__contenedor">
                        <figure class="articulo__imagen"><img src="/images/bidet1.png" alt=""></figure>
                        <div class="articulo__informacion">
                            <h3>$21.599</h3>
                            <h5>Cantidad:</h5>
                            <div class="articulo__cantidad">
                                <button class="articulo__cantidadBoton">
                                    <a class="articulo__cantidadTexto">-</a>
                                </button>
                                <a class="articulo__cantidadTexto">2</a>
                                <button class="articulo__cantidadBoton">
                                    <a class="articulo__cantidadTexto">+</a>
                                </button>
                            </div>
                            <h5>Total:</h5>
                            <h3 class="--bold">$43.198</h3>
                        </div>
                    </div>
                    <button class="quitar"><i class="fa-solid fa-trash"></i></button>
                </article>
            </section>
            <section id="compra">
                <article id="compra__envio">
                    <div class="compra__envioValor">
                        <h3 class="--bold">Valor Productos</h3>
                        <h3>$129.594</h3>
                    </div>
                    <form id="compra__form" action="POST">
                        <h3 class="compra__titulo --bold">Envio</h3>
                        <div id="compra__opcionesEnvio">
                            <label for="envio">
                                <h3>Retiro por Local</h3> <input class="radio" type="radio" id="retiro_local"
                                    name="envio" value="retiro_local">
                            </label>
                            <label for="envio">
                                <h3>Retiro por correo </h3><input class="radio" type="radio" id="retiro_local"
                                    name="envio" value="retiro_correo">
                            </label>
                            <label for="envio">
                                <h3>Envío por correo</h3> <input class="radio" type="radio" id="retiro_local"
                                    name="envio" value="envio_correo">
                            </label>
                        </div>
                        <label for="envio">Direccion</label>
                        <input class="compra__datosEnvio" type="text" id="direccion" name="direccion">
                        <label for="codigoPostal">CP</label>
                        <div id="compra__cp">
                            <input class="compra__datosEnvio" type="text" id="codigoPostal" name="codigoPostal">
                            <label id="compra__datosEnvio">
                                <h5>Te llega el viernes
                                    22 de Agosto de 2022</h5>
                            </label>
                        </div>
                    </form>
                    <div class="compra__envioValor">
                        <h3 class="--bold">Valor Envío</h3>
                        <h3>$857</h3>
                    </div>
                    <div id="compra__envioValorTotal">
                        <h3 class="--bold">Valor Total</h3>
                        <h3>$130.451</h3>
                    </div>

                </article>
                <article id="compra__pago">
                    <h3 class="pago__texto --bold">Pago</h3>
                    <figure class="mp_api"><img src="/images/mp-api.png" alt=""></figure>
                </article>
            </section>
        </section>
    </main>
    <!-- break -->
    <footer class="footer__box">
        <nav class="footer__container">
            <div class="info">
                <h5>Información general</h4>
                    <a href="#" class="cancel">
                        <h6> Cancelar una compra</h6>
                    </a>
                    <a href="#" class="preguntas__frecuentes">
                        <h6>Preguntas frecuentes</h6>
                    </a>
                    <a href="#" class="politica">
                        <h6>Política de privacidad</h6>
                    </a>
            </div>
            <div class="garantia">
                <h5>Garantía</h5>
                <h6>Conoce mas sobre nuestras politicas de garantía</h6>
            </div>
            <div class="seguinos">
                <h5>Seguinos</h5>
                <a href="https://www.facebook.com/SANITARIOSNICUESA" target="_blank" class="facebook"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="https://api.whatsapp.com/send?phone=5491163987256&text=" target="_blank" class="whatsapp"><i
                        class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/sanitariosnicuesa/" target="_blank" class="instagram"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="contacto@sanitariosnicuesa.com.ar" target="_blank" class="mail"><i
                        class="fa-solid fa-envelope"></i></a>
            </div>
            <div class="copyright">
                <h6>Copyright @ 2022 realizado por estudio DH</h6>
            </div>
        </nav>
    </footer>
    <script src="./scripts/menu.js"></script>
</body>

</html>