<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/register2.css">
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/scripts/registerEdu.js"></script>
</head>     

<body>


        <!-- break  -->
     
            <form action="/" method="post" id="news">
                <fieldset class="field valid">
                    <label>Email</label>
                    <input type="text" name="email" id="email">
                    <p class="msg">Esto es un mensaje</p>
                </fieldset>
                <fieldset class="actions">
                    <button type="submit">
                        <i class="fa-solid fa-envelope-open"></i>
                        Enviar
                    </button>
                    <button type="reset">
                        <i class="fa-solid fa-trash"></i>
                        Borrar
                    </button>

                    </button>
                </fieldset>
            </form>
   

     

        
</body>

</html>